/* Form */
.form,
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 300px;
}
label {
  margin-top: 20px;
  padding-bottom: 5px;
}
input {
  padding: 10px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.password-input input {
  width: 280px;
}
/* Eye icon */
.password-input {
  position: relative;
}
.fa-eye {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fa-eye:hover {
  cursor: pointer;
}
/* form -- button */
.btn {
  background-color: #5c47d3;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
}

/* Password error */
.error {
  margin-top: 20px;
  color: red;
  display: none;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.footer span {
  font-weight: bold;
  margin-right: 3px;
  margin-left: 3px;
}

/* Result */
.result-form {
  margin-top: 20px;
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 40px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  padding-bottom: 10px;
}
.result-btn {
  padding: 10px 10px;
}
